*{
    margin: 0px;
    padding: 0px;
}

.container10{
    display: flex;
    width: 100%;
    /* height: 100vh; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fonts1{
    font-size: 5rem;
    text-decoration: dashed;
    font-family: cursive,roboto;
    color:purple;
}