.menu {
    background: #222;
    color: white;
    position: fixed;
    top: 0;
    right: -100%; /* Inicialmente, el menú está fuera de la vista */
    width: 20vh; /* Ancho deseado del menú */
    height: 30vh;
    padding: 15px 20px;
    transition: right 0.25s ease-in-out; /* Agregar una transición suave para el movimiento */
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px; 
    cursor: pointer;
}
#menu-toggle {
    display: none; /* Oculta el checkbox visualmente */
}
#menu-toggle:checked + label + .menu {
    right: 0; /* Cuando el checkbox está marcado, el menú se despliega */
}

.menu a {
    text-decoration: none;
    color: white;
    transition: color 0.3s; /* Transición de cambio de color */
}

.menu a:hover {

    color: #ffcc00; /* Cambia el color al pasar el mouse sobre el enlace */
}
